/* banner-sec-starts */
.banner-sec {
    background: url(../images/About-us-Banner-Image.png);
    background-repeat: no-repeat;
    height: 345px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner-child {
    text-align: center;
}

.banner-child p {
    width: 70%;
    margin: auto;
    color: var(--text-primary-color);
}

/* banner-sec-ends */
/* about sec start */
.about-sec {
    background-color: var(--text-primary-color);
}

.about-child {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
}

.about-left,
.about-right {
    width: 50%;
    padding: 0 25px;
}

.about-img {
    width: 359px;
    height: 359px;
    position: relative;
    z-index: 2;
}

.about-right {
    position: relative;
}

.about-right::after {
    content: "";
    position: absolute;
    top: 80px;
    left: 100px;
    width: 568px;
    height: 261px;
    background: url(../images/nav-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    z-index: 4;
}

.about-text-1 {
    margin-bottom: 25px;
}

.about-left {
    position: relative;
    display: flex;
    justify-content: center;
}

.circle {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.circle.green {
    width: 220px;
    height: 220px;
    background: #CDFDB5;
    top: -20px;
    left: 40px;
}

.circle.yellow {
    width: 200px;
    height: 200px;
    background: #F8C859;
    bottom: -20px;
    right: 45px;
}

.circle.blue {
    width: 70px;
    height: 70px;
    background: #C5F0FF;
    bottom: 3px;
    left: 35px;
}

/* about sec end */
/* our story sec start */
.our-story-sec {
    background-color: var(--text-primary-color);
}

.our-story-child {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.story-left,
.story-right {
    width: 50%;
    padding: 0 15px;
}

.profile-img img {
    height: 100px;
    width: 100px;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.story-left p {
    margin-bottom: 25px;
}

.profile-perent span {
    font-size: 16px;
    color: #0822197a;
}

.overlay-img {
    position: relative;

}

.overlay-img img {
    height: 221px;
    width: 221px;
    position: absolute;
    right: -20px;
    bottom: -10px;
    z-index: 10;
}

.story-right {
    position: relative;
}

/* our story sec end */

/* community sec start */
.community-sec {
    background-color: var(--text-primary-color);
    position: relative;
}

.community-child {
    display: flex;
    flex-wrap: wrap;
    background-color: #3B5638;
    height: 395px;
    border-radius: 20px;
    margin: 0 -15px;
}

.community-left,
.community-right {
    width: 50%;
    padding: 0 15px;
}

.community-left {
    position: relative;
}

.community-img img {
    height: 487px;
    width: 498px;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.community-inner-text {
    padding: 50px 70px 50px 0;
}

.community-right h2 {
    color: var(--text-primary-color);
    font-size: 36px;
}

.community-right p {
    color: #d1fccc87;
    margin-bottom: 20px;
}

.community-icon img {
    height: 35px;
    width: 35px;
    display: block;
    margin-right: 10px;
}

.community-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.community-text {
    text-align: center;
    color: var(--text-primary-color);
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.community-lower-sec {
    display: flex;
}

.community-blogs-text {
    margin-right: 70px;
}

.count,
.plus {
    color: var(--text-primary-color);
    font-size: 48px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.count.animate {
    transform: translateY(-5px);
}


/* community sec end */
/* our expertise sec start */
.expertise-sec {
    background-color: var(--text-primary-color);
}

.expertise-child {
    display: flex;
    margin: 0 -35px;
}

.expertise-left,
.expertise-right {
    width: 50%;
    padding: 0 35px;
}

.expertise-left p {
    margin-bottom: 45px;
    color: #08221978;
    width: 90%;
}

.quick-search img {
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
}

.quick-search {
    text-transform: capitalize;
    background-color: #D1FCCC;
    color: #00000092;
    border-radius: 8px;
    padding: 6px 10px;
    margin-right: 18px;
    display: inline-block;
    margin-bottom: 10px;
}

.expertise-video img {
    height: 515px;
    width: 647px;
}

/* our expertise sec end */
/* contact us sec start */
.contact-sec {
    background-color: var(--text-primary-color);
}

.contact-child {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -27px;
}

.contact-left {
    width: 40%;
    padding: 0 27px;
}

.contact-right {
    width: 60%;
    padding: 0 27px;
}

.cmn-contact-card-top {
    text-align: center;
    margin-bottom: 25px;
}

.cmn-contact-card-top svg {
    color: var(--primary-color);
    width: 50px;
}

.cmn-contact-card:hover svg {
    color: var(--text-primary-color);
}

.cmn-contact-card:hover {
    color: var(--text-primary-color);
}

.cmn-contact-card:hover a {
    color: var(--text-primary-color);
}

.office-phone-wrapper,
.mail-time-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cmn-contact-card {
    width: calc(50% - 15px);
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 30px;
    transition: var(--default-animation);
}

.cmn-contact-card:hover {
    background-color: var(--primary-color);
}

.cmn-contact-card-heading {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 7px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

.cmn-contact-card-bottom a {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #00000084;
}

.cmn-contact-card-bottom {
    text-align: center;
}

.office-phone-wrapper {
    margin-bottom: 50px;
}

.map-wrapper iframe {
    border-radius: 25px;
    display: block;
    width: 900px;
    height: 500px;
}

.contact-right {
    display: flex;
    align-items: end;
}

.small {
    text-transform: lowercase !important;
}

/* contact us sec end */












/* media queries */