/* universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cmn-class */
body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1550px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.cmn-btn {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    color: var(--text-primary-color);
    background-color: var(--dark-color);
    position: relative;
    z-index: 1;
}

.cmn-btn::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--secondary-color);
    transition: var(--default-animation);
    border-radius: 10px;
    z-index: -1;
}

.cmn-btn:hover::after {
    width: 100%;
}

h1,
.heading-1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--text-primary-color);
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

h2,
.heading-2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

h3,
.heading-3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

h4,
.heading-4 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

h5,
.heading-5 {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 10px;
}

h6,
.heading-6 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 10px;
}

p,
.paragraph {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
}

span {
    font-size: 24px;
    font-weight: 400;
    color: var(--span-text-color);
    text-transform: capitalize;
    margin-bottom: 15px;
}

.cmn-gap {
    padding: 80px 0;
}

:root {
    --primary-color: #79B531;
    --secondary-color: #3B5638;
    --accent-color: #D1FCCC;
    --dark-color: #082219;
    --black-color: #000000;
    --text-primary-color: #FFFFFF;
    --text-dark-color: #000000;
    --bg-light-color: #D1FCCC;
    --nav-bar-bg-color: #EEFFD3;
    --span-text-color: #57B36D;
    /* default animation speed */
    --default-animation: all .3s ease;
}

/* header-sec-starts */
.header {
    background-color: var(--nav-bar-bg-color);
    padding: 14px 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
}

.nav-links li a {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--secondary-color);
    padding-bottom: 6px;
    position: relative;
}

.nav-links li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: var(--dark-color);
    width: 0;
}

.nav-links li a:hover::before {
    width: 100%;
    transition: var(--default-animation);
}

.nav-links li a:hover {
    color: var(--black-color);
}

.nav-links li a.active-page-select {
    color: var(--black-color);
}

.nav-links li a.active-page-select::before {
    width: 100%;
}

.nav-links li {
    margin-right: 36px;
}

.nav-logo {
    width: 150px;
    display: block;
}

.nav-logo img {
    display: block;
}

.user-signup,
.search-icon {
    color: var(--dark-color);
    margin-right: 36px;
    font-size: 22px;
}

.nav-right-2 i {
    transition: var(--default-animation);
}

.nav-right-2 i:hover {
    transform: scale(1.2);
}

/* header-sec-ends */

/* banner-sec-starts */
.banner-sec {
    background: url(../images/About-us-Banner-Image.png);
    background-repeat: no-repeat;
    height: 345px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner-child {
    text-align: center;
}

.banner-child p {
    width: 70%;
    margin: auto;
    color: var(--text-primary-color);
}

/* banner-sec-ends */
/* about sec start */
.about-sec {
    background-color: var(--text-primary-color);
}

.about-child {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
}

.about-left,
.about-right {
    width: 50%;
    padding: 0 25px;
}

.about-img {
    width: 359px;
    height: 359px;
    position: relative;
    z-index: 2;
}

.about-right {
    position: relative;
}

.about-right::after {
    content: "";
    position: absolute;
    top: 80px;
    left: 40px;
    width: 568px;
    height: 261px;
    background: url(../images/nav-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    z-index: 4;
}

.about-text-1 {
    margin-bottom: 25px;
}

.about-left {
    position: relative;
    display: flex;
    justify-content: center;
}

.circle {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.circle.green {
    width: 220px;
    height: 220px;
    background: #CDFDB5;
    top: -20px;
    left: 40px;
}

.circle.yellow {
    width: 200px;
    height: 200px;
    background: #F8C859;
    bottom: -20px;
    right: 45px;
}

.circle.blue {
    width: 70px;
    height: 70px;
    background: #C5F0FF;
    bottom: 3px;
    left: 35px;
}

/* about sec end */
/* our story sec start */
.our-story-sec {
    background-color: var(--text-primary-color);
}

.our-story-child {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.story-left,
.story-right {
    width: 50%;
    padding: 0 15px;
}

.profile-img img {
    height: 100px;
    width: 100px;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.story-left p {
    margin-bottom: 25px;
}

.profile-perent span {
    font-size: 16px;
    color: #0822197a;
}

.overlay-img img {
    height: 221px;
    width: 221px;
    position: absolute;
    right: -20px;
    bottom: -10px;
}

.story-right {
    position: relative;
}

/* our story sec end */
/* community sec start */
.community-sec {
    background-color: var(--text-primary-color);
    position: relative;
}

.community-child {
    display: flex;
    flex-wrap: wrap;
    background-color: #3B5638;
    height: 395px;
    border-radius: 20px;
    margin: 0 -15px;
}

.community-left,
.community-right {
    width: 50%;
    padding: 0 15px;
}

.community-left {
    position: relative;
}

.community-img img {
    height: 487px;
    width: 498px;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.community-inner-text {
    padding: 50px 70px 50px 0;
}

.community-right h2 {
    color: var(--text-primary-color);
}

.community-right p {
    color: #d1fccc87;
    margin-bottom: 20px;
}

.community-icon img {
    height: 35px;
    width: 35px;
    display: block;
    margin-right: 10px;
}

.community-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.community-text {
    text-align: center;
    color: var(--text-primary-color);
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.community-lower-sec {
    display: flex;
}

.community-blogs-text {
    margin-right: 70px;
}

.community-icon h3 {
    margin-bottom: 0;
    color: var(--text-primary-color);
    font-weight: 600;
}








/* community sec end */



/* footer-section-starts */
.footer-sec {
    background: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
}

.footer-top {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
}

.footer-heading {
    color: var(--text-primary-color);
    margin-bottom: 20px;
    font-size: 26px;
}

.footer-top p {
    color: var(--text-primary-color);
    margin-bottom: 32px;
}

.subscribe-wrapper {
    padding: 20px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    background: var(--text-primary-color);
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    max-width: 90%;
    margin: 0 auto;
}

.mail-icon {
    font-size: 25px;
    padding: 5px;
    color: #666;
}

.subscribe-input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 8px;
}

.subscribe-input::placeholder {
    color: #999;
}

.subscribe-btn {
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: auto;
}

.footer-child {
    display: flex;
    flex-wrap: wrap;

}

.cmn-footer {
    width: 25%;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
}

.social-icons li {
    margin-right: 12px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--text-primary-color);
}

.social-icons li a {
    display: block;
    color: var(--black-color);
}

.footer-links li a {
    display: block;
    color: var(--text-primary-color);
}

.footer-links li {
    margin-bottom: 16px;
}

.footer-text {
    color: var(--text-primary-color);
}

/* footer-section-ends */











/* media queries */