/* banner-sec-starts */
.banner-sec {
  background: url(../images/about-us-page-images/about-us-banner-image.png);
  background-repeat: no-repeat;
  height: 345px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.banner-child {
  text-align: center;
}

.banner-child p {
  width: 60%;
  margin: auto;
  color: rgba(255, 255, 255, 0.65);
}

/* banner-sec-ends */
/* about sec start */
.about-sec {
  background-color: var(--text-primary-color);
}

.about-child {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.about-left,
.about-right {
  width: 50%;
  padding: 0 25px;
}

.about-img {
  width: 359px;
  height: 359px;
  position: relative;
  z-index: 2;
}

.about-right {
  position: relative;
}

.about-right::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 100px;
  width: 568px;
  height: 261px;
  background: url(../images/about-us-page-images/about-bg-img.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  z-index: 4;
}

.about-text-1 {
  margin-bottom: 25px;
}

.about-inner-text p {
  color: rgba(0, 0, 0, 0.8);
}

.about-left {
  position: relative;
  display: flex;
  justify-content: center;
}

.circle {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.circle.green {
  width: 220px;
  height: 220px;
  background: #cdfdb5;
  top: -20px;
  left: 40px;
}

.circle.yellow {
  width: 200px;
  height: 200px;
  background: #f8c859;
  bottom: -20px;
  right: 45px;
}

.circle.blue {
  width: 70px;
  height: 70px;
  background: #c5f0ff;
  bottom: 3px;
  left: 35px;
}

/* about sec end */
/* our story sec start */
.our-story-sec {
  background-color: var(--text-primary-color);
}

.our-story-child {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.story-left,
.story-right {
  width: 50%;
  padding: 0 15px;
}

.profile-img img {
  height: 100px;
  width: 100px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.story-left p {
  margin-bottom: 25px;
  color: rgba(8, 34, 25, 0.5);
}

.profile-perent span {
  font-size: 16px;
  color: #0822197a;
}

.overlay-img {
  position: relative;
}

.overlay-img img {
  height: 221px;
  width: 221px;
  position: absolute;
  right: -20px;
  bottom: -10px;
  z-index: 10;
}

.story-right {
  position: relative;
}

/* our story sec end */

/* community sec start */
.community-sec {
  background-color: var(--text-primary-color);
  position: relative;
}

.community-child {
  display: flex;
  flex-wrap: wrap;
  background-color: #3b5638;
  height: 395px;
  border-radius: 20px;
  margin: 0 -15px;
}

.community-left,
.community-right {
  width: 50%;
  padding: 0 15px;
}

.community-left {
  position: relative;
}

.community-img img {
  height: 487px;
  width: 498px;
  position: absolute;
  bottom: 0;
  left: 50px;
}

.community-inner-text {
  padding: 50px 70px 50px 0;
}

.community-right h2 {
  color: var(--text-primary-color);
  font-size: 36px;
}

.community-right p {
  color: rgba(209, 252, 204, 0.5);
  margin-bottom: 20px;
}

.community-icon img {
  height: 35px;
  width: 35px;
  display: block;
  margin-right: 10px;
}

.community-icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.community-text {
  text-align: center;
  color: var(--text-primary-color);
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
}

.community-lower-sec {
  display: flex;
}

.community-blogs-text {
  margin-right: 70px;
}

.count,
.plus {
  color: var(--text-primary-color);
  font-size: 48px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.count.animate {
  transform: translateY(-5px);
}

/* community sec end */
/* our expertise sec start */
.expertise-sec {
  background-color: var(--text-primary-color);
}

.expertise-child {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -35px;
}

.expertise-left,
.expertise-right {
  width: 50%;
  padding: 0 35px;
}

.expertise-left p {
  margin-bottom: 45px;
  color: rgba(8, 34, 25, 0.5);
  width: 90%;
}

.quick-search img {
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}

.quick-search {
  text-transform: capitalize;
  background-color: #d1fccc;
  color: #00000092;
  border-radius: 8px;
  padding: 6px 10px;
  margin-right: 18px;
  display: inline-block;
  margin-bottom: 10px;
}

.expertise-video img {
  height: 515px;
  width: 647px;
}

/* our expertise sec end */
/* contact us sec start */
.contact-sec {
  background-color: var(--text-primary-color);
}

.contact-child {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -27px;
}

.contact-left {
  width: 40%;
  padding: 0 27px;
}

.contact-right {
  width: 60%;
  padding: 0 27px;
}

.cmn-contact-card-top {
  text-align: center;
  margin-bottom: 25px;
}

.cmn-contact-card-top svg {
  color: var(--primary-color);
  width: 50px;
}

.cmn-contact-card:hover svg {
  color: var(--text-primary-color);
}

.cmn-contact-card:hover {
  color: var(--text-primary-color);
}

.cmn-contact-card:hover a {
  color: var(--text-primary-color);
}

.office-phone-wrapper,
.mail-time-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cmn-contact-card {
  width: calc(50% - 15px);
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  padding: 30px;
  transition: var(--default-animation);
}

.cmn-contact-card:hover {
  background-color: var(--primary-color);
}

.cmn-contact-card-heading {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 7px;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
}

.cmn-contact-card-bottom a {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: #00000084;
}

.cmn-contact-card-bottom {
  text-align: center;
}

.office-phone-wrapper {
  margin-bottom: 50px;
}

.map-wrapper iframe {
  border-radius: 25px;
  display: block;
  width: 900px;
  height: 500px;
}

.contact-right {
  display: flex;
  align-items: end;
}

.small {
  text-transform: lowercase !important;
}

/* contact us sec end */

/* media queries */
@media screen and (max-width: 1400px) {
  .banner-child p {
    width: 65%;
  }

  .about-right::after {
    left: 40px;
    width: 480px;
  }

  .overlay-img img {
    height: 200px;
    width: 200px;
    right: -35px;
    bottom: -100px;
  }

  .expertise-video img {
    width: 600px;
    height: auto;
  }

  .map-wrapper iframe {
    width: 568px;
  }

  .contact-left,
  .contact-right {
    padding: 0 25px;
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  /* .banner-sec {
        height: 320px;
    } */

  .banner-child h1 {
    font-size: 38px;
  }

  .banner-child p {
    width: 70%;
    font-size: 15px;
  }

  .about-img {
    width: 320px;
    height: 320px;
  }

  .circle.green {
    width: 190px;
    height: 190px;
  }

  .circle.yellow {
    width: 170px;
    height: 170px;
  }

  .about-right::after {
    width: 420px;
    height: 220px;
  }

  .overlay-img img {
    width: 180px;
    height: 180px;
    right: -31px;
    top: 81px;
  }

  .story-left p {
    font-size: 15px;
  }

  .community-img img {
    height: 403px;
    width: 432px;
    position: absolute;
    bottom: 4px;
    left: 49px;
  }

  .expertise-child {
    margin: 0 -20px;
  }

  .expertise-left,
  .expertise-right {
    padding: 0 20px;
  }

  .expertise-video img {
    width: 520px;
  }

  .expertise-left p {
    width: 100%;
  }

  .map-wrapper iframe {
    width: 460px;
  }

  .contact-right {
    width: 50%;
  }

  .contact-left {
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .banner-sec {
    height: 660px;
  }

  .banner-child h1 {
    font-size: 40px;
  }

  .banner-child p {
    width: 80%;
  }

  .about-left,
  .about-right {
    width: 100%;
  }

  .about-left {
    margin-bottom: 40px;
  }

  .about-right::after {
    display: none;
  }

  .story-left,
  .story-right {
    width: 100%;
  }

  .story-left {
    margin-bottom: 40px;
  }

  .overlay-img img {
    position: absolute;
    right: -24px;
    top: -204px;
  }

  .community-inner-text {
    padding: 26px 33px 24px 0;
  }

  .community-blogs-text {
    margin-right: 50px;
  }

  .count,
  .plus {
    font-size: 35px;
  }

  .community-img img {
    height: 317px;
    width: 341px;
    position: absolute;
    bottom: 0;
    left: 34px;
  }

  .expertise-left,
  .expertise-right {
    width: 100%;
  }

  .expertise-right {
    margin-bottom: 30px;
  }

  .expertise-video img {
    margin: 0 auto;
    display: block;
  }

  .expertise-left {
    text-align: center;
  }

  .first-row {
    text-align: center;
  }

  .contact-left,
  .contact-right {
    padding: 0 25px;
    width: 100%;
  }

  .map-wrapper iframe {
    width: 760px;
  }

  .contact-right {
    display: flex;
    justify-content: center;
  }

  .contact-left {
    padding-bottom: 30px;
  }

  .expertise-left {
    padding-bottom: 30px;
  }

  .community-child {
    height: 410px;
  }
}

@media screen and (max-width: 767px) {
  .banner-sec {
    height: 660px;
  }

  .banner-child h1 {
    font-size: 40px;
  }

  .banner-child p {
    width: 90%;
    font-size: 14px;
  }

  .about-img {
    width: 280px;
    height: 280px;
  }

  .circle.green {
    width: 160px;
    height: 160px;
    left: 10px;
  }

  .circle.yellow {
    width: 150px;
    height: 150px;
    right: 10px;
  }

  .circle.blue {
    width: 60px;
    height: 60px;
  }

  .about-inner-text {
    text-align: center;
  }

  .story-left h2 {
    font-size: 50px;
  }

  .profile {
    justify-content: start;
  }

  .story-left p {
    font-size: 14px;
    line-height: 1.6;
  }

  .community-left,
  .community-right {
    width: 100%;
  }

  .community-child {
    height: 650px;
  }

  .community-img img {
    width: 320px;
  }

  .community-img img {
    position: absolute;
    bottom: 0;
    left: 110px;
  }

  .community-right h2 {
    font-size: 28px;
  }

  .count,
  .plus {
    font-size: 40px;
  }

  .community-text {
    font-size: 22px;
  }

  .community-blogs-text {
    margin-right: 40px;
  }

  .expertise-video img {
    width: 420px;
  }

  .expertise-left h2 {
    font-size: 28px;
  }

  .expertise-left,
  .expertise-right {
    width: 100%;
  }

  .expertise-left {
    padding-bottom: 50px;
  }

  .map-wrapper iframe {
    width: 560px;
  }
}

@media screen and (max-width: 575px) {
  .banner-sec {
    height: 660px;
    padding: 60px 0;
  }

  .banner-child h1 {
    font-size: 40px;
  }

  .banner-child p {
    width: 100%;
    font-size: 14px;
  }

  .about-img {
    width: 240px;
    height: 240px;
  }

  .circle.green {
    width: 140px;
    height: 140px;
    top: -10px;
  }

  .circle.yellow {
    width: 130px;
    height: 130px;
    bottom: -10px;
  }

  .about-inner-text p {
    font-size: 14px;
    line-height: 1.6;
  }

  .profile-img img {
    width: 80px;
    height: 80px;
  }

  .overlay-img img {
    width: 150px;
    height: 150px;
  }

  .community-img img {
    width: 325px;
  }

  .community-lower-sec {
    align-items: center;
  }

  .community-blogs-text {
    margin-right: 25px;
    text-align: center;
  }

  .community-icon {
    justify-content: center;
  }

  .expertise-video img {
    width: 100%;
    max-width: 320px;
  }

  .first-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quick-search {
    width: 100%;
    max-width: 280px;
    justify-content: center;
    margin-right: 0;
  }

  .expertise-left p {
    font-size: 14px;
    line-height: 1.6;
  }

  .map-wrapper iframe {
    width: 400px;
  }

  .office-phone-wrapper,
  .mail-time-wrapper {
    flex-direction: column;
  }

  .cmn-contact-card {
    margin-bottom: 20px;
  }

  .office-phone-wrapper {
    margin-bottom: 0px;
  }

  .cmn-contact-card {
    width: 90%;
  }

  .contact-left {
    text-align: center;
  }

  .office-phone-wrapper {
    margin-bottom: 0px;
    align-items: center;
  }

  .office-phone-wrapper,
  .mail-time-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 420px) {
  .banner-child h1 {
    font-size: 22px;
  }

  .banner-child p {
    font-size: 13px;
    line-height: 1.5;
  }

  .about-img {
    width: 210px;
    height: 210px;
  }

  .circle.green,
  .circle.yellow {
    width: 120px;
    height: 120px;
  }

  .story-left {
    text-align: center;
  }

  .story-left p {
    font-size: 13px;
  }

  .overlay-img img {
    width: 130px;
    height: 130px;
  }

  .community-img img {
    width: 325px;
  }

  .community-right h2 {
    font-size: 24px;
    padding-top: 35px;
  }

  .count,
  .plus {
    font-size: 34px;
  }

  .expertise-video img {
    max-width: 280px;
  }

  .expertise-left h2 {
    font-size: 24px;
  }

  .map-wrapper iframe {
    width: 310px;
  }

  .community-img img {
    width: 210px;
    height: auto;
    left: 65px;
  }

  .community-blogs-text {
    margin-right: 25px;
    text-align: center;
  }

  h2,
  .heading-2 {
    font-size: 35px;
  }

  .community-inner-text {
    padding: 0;
  }

  .count,
  .plus {
    font-size: 30px;
  }

  .story-left h2 {
    font-size: 28px;
  }

  .primary-color-text {
    margin-bottom: 0px;
    font-size: 20px;
  }

  h2,
  .heading-2 {
    font-size: 28px;
  }

  .nav-logo {
    width: 83px;
  }

  .menu-bar i {
    font-size: 24px;
  }

  .cmn-btn {
    padding: 4px 8px;
    font-size: 15px;
  }
}
