:root {
  --primary-color: #79b531;
  --secondary-color: #3b5638;
  --accent-color: #d1fccc;
  --dark-color: #082219;
  --black-color: #000000;
  --text-primary-color: #ffffff;
  --text-dark-color: #000000;
  --bg-light-color: #d1fccc;
  --nav-bar-bg-color: #eeffd3;
  /* default animation speed */
  --default-animation: all 0.3s ease;
}

/* banner-sec-starts */
.banner-sec {
  background: url(../images/About-us-Banner-Image.png);
  background-repeat: no-repeat;
  height: 345px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.banner-child {
  text-align: center;
}

.banner-child h1 {
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 600;
  margin-bottom: 12px;
}

.banner-child p {
  margin: auto;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
}

/* banner-sec-ends */

/* BLOG SECTION */
.blog-sec {
  padding: 40px 0;
}

.blog-header {
  text-align: center;
}

.blog-subtitle {
  color: var(--primary-color);
  font-size: 28px;
}

.title-2 {
  margin: 10px;
}

.blog-filter {
  margin: 30px 0 50px;
}

.blog-filter ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog-filter li {
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  background: #E8E8E8;
  transition: all 0.3s ease;
}

.blog-filter li:hover {
  background: #cfcfcf;
}

.blog-filter .active {
  background: #082219;
  color: #fff;
}
.featured-card-sec {
  justify-content: space-between;
}

.cmn-card{
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}