
/* banner-sec-starts */
.banner-sec {
    background: url(../images/About-us-Banner-Image.png);
    background-repeat: no-repeat;
    height: 345px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}


.banner-child {
  text-align: center;
}

.banner-child h1 {
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 600;
  margin-bottom: 12px;
}

.banner-child p {
  margin: auto;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
}

/* banner-sec-ends */

/* BLOG SECTION */
.blog-sec {
  padding: 80px 0;
}

.blog-header {
  text-align: center;
}

.blog-subtitle {
  color: var(--primary-color);
  font-size: 28px;
}

.title-2 {
  margin: 10px;
}

.blog-filter {
  margin: 30px 0 50px;
}

.blog-filter ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  
}

.blog-filter li {
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  background: #E8E8E8;
  transition: all 0.3s ease;
}

.blog-filter li:hover {
  background: #cfcfcf;
}

.blog-filter .active {
  background: #082219;
  color: #fff;
}
.featured-card-sec {
  justify-content: flex-start;
}


.meta-left,
.meta-right {
  display: flex;
  align-items: center;
}

.meta-left img,
.meta-right img {
  width: 24px;
  height: 24px;
  margin-right: 6px; 
}


.blog-content h3 {
  font-size: 20px;
  margin: 10px 0;
  
}

.blog-content p {
  /* font-size: 16px;
  color: #636563; */
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.4;
}


.blog-content .learn-more {
  position: relative;
  margin: 20px 15px 15px;
  color: #082219;
  font-size: 16px;
  display: flex;
  width: max-content;
  align-items: center;
  margin-left: 6px;
  text-decoration: none;
  font-weight: 500;
}

.blog-content .learn-more::after{
  content: "";
  position: absolute;
  left: 0;
  bottom:-6px;
  width: 0;
  height: 2px;
  background-color: #79B531;
  transition: width 0.35s ease;
}

.blog-card:hover .learn-more::after{
  width: 100%;
}


.blog-content .learn-more img {
  width: 25px;
  height: 24px;
  transition: transform 0.4s ease;
}

.blog-card:hover{
  background:#FFFFFF ;
  box-shadow: 0 20px 40px rgb(0,0,0,0.12);
}

.blog-card:hover .blog-img img{
  transform: scale(1.08);
}

.blog-card:hover .blog-img::before{
  opacity: 1;
}

.blog-card:hover .learn-more img{
  transform: rotate(-45deg);
  color: #79B531;
}



.blog-card:hover .blog-content h3{
  color: #79B531;
}

.cmn-card{
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}