/* banner-sec-starts */
.banner-sec {
  background: url(../images/About-us-Banner-Image.png);
  background-repeat: no-repeat;
  height: 345px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.banner-child {
  text-align: center;
}

.banner-child p {
  width: 60%;
  margin: auto;
  color: var(--text-primary-color);
}

/* banner-sec-ends */
/* bookmarks-sec-starts */
.wellness-section {
  background-color: var(--text-primary-color);
}

.wellness-title {
  text-align: center;
  margin-bottom: 40px;
}

.wellness-title h2 {
  font-size: 48px;
}

.main-wellness {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.wellness-left-part {
  width: 20%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

.wellness-left-part h4 {
  margin-bottom: 15px;
}

.wellness-left-part label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}

.wellness-left-part input[type="checkbox"] {
  margin-right: 8px;
}

.btn-apply {
  width: 100%;
  font-size: 18px;
  background: var(--dark-color);
  color: var(--accent-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.wellness-right-part {
  width: 80%;
  padding-left: 25px;
}

.wellness-cards {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-bottom: 13px;
  padding: 15px;
}

.cmn-card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.cmn-card .card-image img {
  transition: var(--default-animation);
}

.cmn-card:hover .card-image img {
  transform: scale(1.1);
}
.card-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.227);
  opacity: 0;
  transition: 0.3s ease;
}

.cmn-card:hover .card-img::after {
  opacity: 1;
}

.cmn-card:hover h3 {
  color: var(--primary-color);
}

.card-image {
  width: 50%;
  position: relative;
  padding-right: 20px;
}

.card-image img {
  border-radius: 15px;
}

.card-content {
  width: 50%;
}

.content {
  padding-top: 5px;
}

.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #d1fccc;
  color: #000000;
  font-size: 15px;
  padding: 4px 8px;
  border-radius: 8px;
}

.bookmark {
  position: absolute;
  top: 6px;
  right: 16px;
  color: #082219;
  font-size: 20px;
  padding: 4px 8px;
}

.content {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}
.content img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.card-content h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #000000;
}

.card-content p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.4;
}

/* .card-content a {
  color: var(--dark-color);
  font-weight: 600;
}

.card-content a i {
  margin-left: 8px;
  vertical-align: middle;
} */
.learn-more {
  display: inline-flex;
  color: #000;
  font-size: 18px;
  text-decoration: none;
  align-items: center;
  position: relative;
  padding-bottom: 5px;
}

.learn-more::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--primary-color);
  transition: var(--default-animation);
}

.cmn-card:hover .learn-more::before {
  width: 78%;
}

.learn-more i {
  font-size: 22px;
  margin-left: 10px;
  transition: var(--default-animation);
}

.cmn-card:hover .learn-more i {
  transform: rotate(-30deg);
}

.wellness-right-part {
  overflow-y: auto;
  height: 800px;
}

.wellness-right-part::-webkit-scrollbar {
  display: none;
}

/* bookmarks-sec-end */

/* media queries */
